.cards__list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 160px;
  position: relative;
  z-index: 50;
}

@media screen and (min-width: 768px) {
  .cards {
    margin-top: 200px;
  }
}

@media screen and (min-width: 1440px) {
  .cards {
    padding-left: 20px;
  }
}