.cards__list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 15px;
}

@media screen and (min-width: 1440px) {
  .cards {
    padding-left: 20px;
  }
}