.cards__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
  margin-top: 160px;
  position: relative;
  z-index: 50;
}

@media screen and (min-width: 768px) {
  .cards__list {
    margin-top: 200px;
  }
}

@media screen and (min-width: 1440px) {
  .cards__list {
    margin-top: 120px;
  }
  .cards {
    padding-left: 20px;
  }
}