.header {
  padding-bottom: 30px;
  padding-top: 38px;
  border-bottom: 1px solid #E5E5E5;
}

.header__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-end;
}

@media screen and (min-width: 768px) {
  .header__wrapper {
    gap: 30px;
  }
}

@media screen and (min-width: 1440px) {
  .header__wrapper {
    padding-left: 60px;
    align-items: flex-start;
  }
}