.input {
  width: 100%;
  position: relative;
}
.input input {
  width: 100%;
  padding: 12px 16px;
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.45);
  border: 1px solid rgba(51, 51, 51, 0.2);
  border-radius: 50px;
}

.input--icon input {
  padding-left: 42px;
}

.input--icon-search::before {
  position: absolute;
  left: 16px;
  top: 10px;
  content: '';
  width: 20px;
  height: 20px;
  display: block;
  background: url('../../img/icon/search.svg') no-repeat center;
  background-size: cover;
  opacity: .45;
}