.sidebar {
  background: #F3F4F9;
  height: 100%;
  max-width: 192px;
  position: fixed;
  left: -170px;
  z-index: 9999;
}

.sidebar__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sidebar__logo {
  padding: 40px 0;
  padding-left: 22px;
}

.sidebar__menu {
  width: 48px;
  height: 106px;
  background: url('../../img/sidebar-union.svg');
  position: absolute;
  right: -48px;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sidebar__menu button {
  border: none;
  cursor: pointer;
  background: transparent;
}

.sidebar__menu svg {
  fill: #333333
}

@media screen and (min-width: 768px) {
  .sidebar {
    max-width: 246px;
    left: 0px;
  }
  .sidebar__logo {
    padding-left: 0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .sidebar--opened .nav__list {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .sidebar--opened .nav__item span {
    display: block;
  }
  .sidebar--opened .sidebar__logo {
    -ms-flex-item-align: start;
        align-self: flex-start;
    padding-left: 21px;
  }
  .sidebar--opened .logo__text {
    display: block;
  }
}

@media screen and (min-width: 1440px) {
  .sidebar {
    width: 240px;
  }
  .sidebar__menu {
    display: none;
  }
  .sidebar__logo {
    padding-left: 40px;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

.sidebar--opened {
  left: 0;
}

.sidebar--opened .sidebar__menu .nav__icon--menu{
  display: none;
}

.sidebar--opened .sidebar__menu .nav__icon--close {
  display: block;
}